java-anatomia-classes/.vscode/settings.json
tipos-variaveis/.vscode/settings.json
operadores/.vscode/settings.json
metodos/.vscode/settings.json
operadores-relacionais/.vscode/settings.json
controle-de-fluxo/.vscode/settings.json
estruturas-de-repeticao/.vscode/settings.json
